@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>My root level app setting: @ViewData["RootSetting"]</h2>
    <h2>My app setting within AppSettings(Options): @ViewData["AppSettingInAppSettings"]</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
